
.app-sidebar-logo-default{
  width: 100%;
  object-fit: contain!important;
}
.app-content{
  margin-bottom: 3rem;
}

.login-page{
  height: 100vh!important;

}
.app-login-logo img{

    width: auto;
    object-fit: contain !important;
    width: 16rem;
    height: 4rem;
    margin-bottom: 2rem;
}


.login-page div{ width: 100%;}
.login-page > div {
  width: 100%;
  align-items: center!important;
  justify-content: center;
  flex-direction: column!important;
}

.custom-alert {
  position: fixed;
  top: 2rem;
  right: -100%; /* Iniciamos el elemento fuera de la pantalla */
  max-width: max-content;
  min-width: max-content;
  z-index: 999999!important;
  animation: slide-in 0.5s forwards; /* Definimos la animación */
}
img{
  object-fit: cover!important;
  aspect-ratio: 1/1;
}
.symbol.symbol-50px {
  width: 50px;
  height: 50px;
  position: relative;
}

.symbol.symbol-50px > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@supports (aspect-ratio: 1 / 1) {
  .symbol.symbol-50px > img {
    aspect-ratio: 1 / 1;
  }
}

@supports not (aspect-ratio: 1 / 1) {
  .symbol.symbol-50px::before {
    content: "";
    display: block;
    padding-top: 100%;
  }

  .symbol.symbol-50px > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.image-input-placeholder {
  background-image: url("assets/media/svg/files/blank-image.svg");
}

[data-bs-theme="dark"] .image-input-placeholder {
  background-image: url("assets/media/svg/files/blank-image-dark.svg");
}

@keyframes slide-in {
  from {
    right: -100%; /* El elemento empieza fuera de la pantalla */
  }

  to {
    right: 1rem; /* El elemento termina en su posición original */
  }
}

/*------------ data tables ------------------*/
.dataTables_wrapper > .row:first-child{
  display: none!important;
}

/*----------------- full calendar ----------------*/
.fc-daygrid-event {
  white-space: wrap!important;
}
/*----------- FOOTER ------------*/
.app-footer{
  position: fixed;
  bottom: 0;
  width: 100%;
}

/*------- LOADER -------*/
.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.1); /* Fondo transparente con difuminación */
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader-container {
  text-align: center;
}
